openapi: 3.0.4
info:
  title: Marine Weather
  description: >-
    Marine Weather is a simple tool for getting marine weather data. It returns
    the current weather conditions in coordinates within the ocean and sea.
  termsOfService: https://apiverve.com/terms/
  contact:
    name: APIVerve Support
    email: hello@apiverve.com
    url: https://apiverve.com/contact
  version: 1.0.0
externalDocs:
  description: Learn more about APIVerve
  url: https://docs.apiverve.com?utm_source=openapi
servers:
  - url: https://api.apiverve.com/
paths:
  /v1/marineweather:
    get:
      summary: Get Marine Weather
      description: >-
        Get the marine weather data for a location using latitude and longitude
        coordinates
      operationId: marineweather
      parameters:
        - name: lat
          in: query
          schema:
            type: number
          required: true
          description: The latitude coordinate of the location
          example: 29.48003
        - name: lon
          in: query
          schema:
            type: number
          required: true
          description: The longitude coordinate of the location
          example: -37.62424
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    description: status
                  error:
                    type: string
                    description: error
                  data:
                    type: object
                    description: data
              example:
                status: ok
                error: null
                data:
                  location:
                    lat: 29.48003
                    lon: -37.62424
                  weather:
                    maxtempc: 22.9
                    maxtempf: 73.2
                    mintempc: 21.8
                    mintempf: 71.2
                    avgtempc: 22.5
                    avgtempf: 72.5
                    maxwindmph: 11.1
                    maxwindkph: 17.9
                    totalprecipmm: 3.29
                    totalprecipin: 0.13
                    totalsnowcm: 0
                    avgviskm: 9.9
                    avgvismiles: 6
                    moonphase: Waning Crescent
                    moonillumination: 16
        '401':
          description: Your request was not authorized, or your API Key was invalid
        '404':
          description: Requested resource was not found
        '500':
          description: A server error has occurred, try again later
components:
  securitySchemes:
    api_key:
      type: apiKey
      name: x-api-key
      in: header
security:
  - api_key: []
